.form-input {
  display: flex;
  flex-direction: row;
  
  width: 315px;
  height: 48px;
  padding: 10px 10px 10px 20px;

  border-radius: 10px;
  border: 1px solid #6F91BC;
  background-color: #FFFFFF;

  transition: border-color 0.3s;
  transition: color 0.3s;

  & > input {
    flex: 1;
    padding-right: 10px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    background-color: transparent;
  }
}

.form-input:focus {
  border-color: var(--color-primary);
}

.form-input.success {
  border-color: var(--color-success);

  & > input {
    color: var(--color-success);
  }
}

.form-input.error {
  border-color: var(--color-error);

  & > input {
    color: var(--color-error);
  }
}

.validation-message-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 20px;
  margin-top: 20px;
}

.validation-message {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--color-primary);
}

.validation-message.success {
  color: var(--color-success);
}

.validation-message.error {
  color: var(--color-error);
}

.success .password-input path {
  fill: var(--color-success);
}

.error .password-input path {
  fill: var(--color-error);
}
