.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 40px;
  padding: 138px 0px;
}

.heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 28px;
  color: var(--color-primary);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 240px;
  height: 48px;

  padding: 15px 32px;
  border-radius: 30px;

  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  color: #FFFFFF;

  background: linear-gradient(110.46deg, #70C3FF 12.27%, #4B65FF 93.92%);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.stars-container {
  position: absolute;
  width: 375px;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 100vh;
  z-index: -1;

  & > * {
    position: absolute;
  }
}

.star2 {
  top: 162.16px;
  left: 76px;

}

.star3 {
  top: 268px;
  left: 280px;
}

.star4 {
  top: 137px;
  left: 114.86px;
}

.star5 {
  top: 576px;
  left: 260px;
}

.star6 {
  top: 549px;
  left: 90px;
}

.star7 {
  top: 57px;
  left: 305px;
}

.star8 {
  top: 761px;
  left: 70px;
}
